---
layout: default
title: Jon Knight | Home
---
<div class="row m-0" style="background-image:url('https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); background-position: center;">
    <div class="col-sm-12" style="background-color: rgba(0,0,0,0.7);">
        <div class="row">
            <div id="hero-container" class="col-md-4 offset-md-4 text-center text-light">
                <img class="img-fluid rounded-circle" style="max-height: 50%;" src="/assets/images/Profile_Photo.jpg">
                <h1>Jon Knight</h1>
                <h3>System Engineer & Lifelong Coder</h3>
                <hr/>
                <div class="row">
                    <div class="col-2 offset-3">
                        <a class="text-light" target="_blank" href="https://github.com/jmknight2"><h1><i class="fab fa-github"></i></h1></a>
                    </div>
                    <div class="col-2">
                        <a class="text-light" target="_blank" href="https://www.linkedin.com/in/jon-m-knight/"><h1><i class="fab fa-linkedin"></i></h1></a>
                    </div>
                    <div class="col-2">
                        <a class="text-light" target="_blank" href="mailto:jon@jonknight.dev"><h1><i class="fas fa-envelope"></i></h1></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bg-dark px-lg-5 m-0">
    <div class="col-lg-8 offset-md-2 py-5 text-light align-center text-center">
        <h1>Recent Activity</h1>
        <div class="row bg-dark px-md-5 mx-0">
            <div class="col-lg-6 text-light px-4">
                <h2>GitHub Projects</h2>
                {% for item in site.data.repos %}
                    <div class="row bg-dark py-2 px-sm-5">
                        <div class="github-card text-start text-dark p-2 bg-light">
                            <h5><i class="fab fa-git-square"></i> <a class="text-decoration-none" href="{{ item.link }}" target="_blank"> {{ item.title }}</a></h5>
                            <small> {{ item.desc }} </small>
                            <br/>
                            <small><i class="fas fa-circle text-{{ item.color }}"></i> {{ item.lang }} <i class="fas fa-star"> </i> 0</small>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-lg-6 px-4">
                <h2>Blog Posts</h2>

                    {% for post in site.posts limit:3 %}
                    <div class="row bg-dark py-2 px-sm-5">
                        <div class="col-12">
                            <div class="card text-start text-dark">
                                <div class="py-1 px-2">
                                    <div class="row">
                                        <div class="col-8">
                                            <h5 class="card-title">
                                                <a class="text-decoration-none" href="{{ post.url }}">{{ post.title }}</a>
                                            </h5>
                                        </div>
                                        <div class="col-4 text-end">
                                            <p class="text-muted">{{ post.date | date: "%a, %b %d, %y" }}</p>
                                        </div>
                                    </div>
                                </div>                                                                        
                                
                                <div class="card-body py-0">
                                    <p class="card-text my-0">{{ post.excerpt | truncate: 195}} <a href="{{ post.url }}">Read More</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
            </div>
        </div>
    </div>
</div>

<div class="row bg-dark px-sm-5 m-0">
    <div class="intro-container col-md-8 offset-md-2 py-5 text-light align-center">
        <h1 id="heading-intro" class="text-center">Introduction</h1>
        <p>I believe in creating efficient reusable code that can go onto serve many future projects and stand the test of time. I have experience working remote and I'm comfortable working on solo projects as well as communicating with a team. I graduated Summa Cum Laude from Pellissippi State with an A.A.S. in Computer Programming in 2018. I then earned my Bachelor of Science in Software Development from WGU in 2020.</p>                
    </div>
</div>

<div class="row bg-dark py-5 px-sm-5 m-0">
    <div class="col-md-8 offset-md-2 text-light align-center">
        <h1 id="heading-skills" class="text-center">Skills</h1>
        <p style="text-align: center;">These are a list of the skills I've acquired over the course of my career. For more details on any of my skills, simply click or tap the skill badges below.</p>
        <hr/>
        <div class="row">
            <div class="col-lg-4 p-3">
                <h3 class="text-center">Systems/Cloud Engineering</h3>

                {% assign loop_count = site.data.skills_cloud.size | divided_by: 3.0 %}
                {% assign loop_count = loop_count | ceil %}
                {% assign loop_array = (1..loop_count) %}

                {% for i in loop_array %}
                    {% assign var_offset = i | minus: 1 %}
                    {% assign var_offset = var_offset | times: 3 %}
                    <ul class="list-group list-group-horizontal justify-content-center">
                        {% for item in site.data.skills_cloud limit:3 offset:var_offset %}
                            <li class="d-flex justify-content-center p-2">
                                <img class="skill-badge img-fluid rounded-circle" src="{{ item.img }}" onclick="toggleDetailCard('detail-cloud-{{ item.index }}')"/>
                            </li>
                        {% endfor %}
                    </ul>
                    {% for item in site.data.skills_cloud limit:3 offset:var_offset %}
                        <div id="detail-cloud-{{ item.index }}" class="card detail-card" style="color: black; display: none;">
                            <div class="card-header">
                                <h5 class="card-title">{{ item.title }}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ item.desc }}</p>

                                {% if item.links.size > 0 %}
                                    <hr/>
                                {% endif %}

                                {% for link in item.links %}
                                    <p><b>{{ link.title }}:</b> <a target="_blank" href="{{ link.href }}">{{ link.href }}</a></p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}

            </div>

            <div class="col-lg-4 p-3">
                <h3 class="text-center">Development Languages</h3>

                {% assign loop_count = site.data.skills_dev.size | divided_by: 3.0 %}
                {% assign loop_count = loop_count | ceil %}
                {% assign loop_array = (1..loop_count) %}

                {% for i in loop_array %}
                    {% assign var_offset = i | minus: 1 %}
                    {% assign var_offset = var_offset | times: 3 %}
                    <ul class="list-group list-group-horizontal justify-content-center">
                        {% for item in site.data.skills_dev limit:3 offset:var_offset %}
                            <li class="d-flex justify-content-center p-2">
                                <img class="skill-badge img-fluid rounded-circle" src="{{ item.img }}" onclick="toggleDetailCard('detail-dev-{{ item.index }}')"/>
                            </li>
                        {% endfor %}
                    </ul>
                    {% for item in site.data.skills_dev limit:3 offset:var_offset %}
                        <div id="detail-dev-{{ item.index }}" class="card detail-card" style="color: black; display: none;">
                            <div class="card-header">
                                <h5 class="card-title">{{ item.title }}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ item.desc }}</p>

                                {% if item.links.size > 0 %}
                                    <hr/>
                                {% endif %}

                                {% for link in item.links %}
                                    <p><b>{{ link.title }}:</b> <a target="_blank" href="{{ link.href }}">{{ link.href }}</a></p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="col-lg-4 p-3">
                <h3 class="text-center">Industry Concepts</h3>

                {% assign loop_count = site.data.skills_industry.size | divided_by: 3.0 %}
                {% assign loop_count = loop_count | ceil %}
                {% assign loop_array = (1..loop_count) %}

                {% for i in loop_array %}
                    {% assign var_offset = i | minus: 1 %}
                    {% assign var_offset = var_offset | times: 3 %}
                    <ul class="list-group list-group-horizontal justify-content-center">
                        {% for item in site.data.skills_industry limit:3 offset:var_offset %}
                            <li class="d-flex justify-content-center p-2">
                                <img class="skill-badge img-fluid rounded-circle" src="{{ item.img }}" onclick="toggleDetailCard('detail-industry-{{ item.index }}')"/>
                            </li>
                        {% endfor %}
                    </ul>
                    {% for item in site.data.skills_industry limit:3 offset:var_offset %}
                        <div id="detail-industry-{{ item.index }}" class="card detail-card" style="color: black; display: none;">
                            <div class="card-header">
                                <h5 class="card-title">{{ item.title }}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ item.desc }}</p>

                                {% if item.links.size > 0 %}
                                    <hr/>
                                {% endif %}

                                {% for link in item.links %}
                                    <p><b>{{ link.title }}:</b> <a target="_blank" href="{{ link.href }}">{{ link.href }}</a></p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <hr/>
    </div>
</div>