<nav id="navbar-container" class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand text-light px-5" href="{{ site.url }}">JonKnight.dev</a>
        <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-5">
                {% for item in site.data.navigation %}
                    <li class="nav-item">
                        <a href="{{ item.link }}" class="nav-link">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>